table{
    border-collapse: collapse;
    table-layout: fixed;
    margin: 0 auto 0 auto;
}
th{
    padding: 10px;
    font-size: smaller;
}

.table-toolbar{
    position: "fixed";
    width: 100%;
    background: #242424;
    z-index: 1;
}

.search-input{
    margin-left: 5px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    height: 28px;
    padding-left:15px ;
}

.btnSearch{
    background-color: #2165b3 ;
    color: white;
    font-size: 20px;
    height: 28px;
    width: 30px;    
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dropdown-select{
    display: none;
    position: absolute;
    background-color: #393939;
    min-width: 200px;
    z-index: 5;
    left: -0px;
    border-top: 2px solid #2163af ;
    padding: 5px;
    opacity: 0.96;
    border-bottom-right-radius: 5px ;
    border-bottom-left-radius: 5px ;
    box-shadow: 0px 8px 16px 0px rgb(0,0,0);
}

.dropdown-market:hover{
    color: #2163af;
}

.dropdown-active{
    background: #735531;
    color: white;
    padding: 3px 6px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    cursor: pointer;
}

.sub-menu-market{
    color: white;
    background-color: #3a3a3a;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 2px 10px 2px 10px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-right: 5px;
}

.sub-menu-active{
    color: white;
    background-color: #2163af;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 2px 10px 2px 10px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    
}

.sub-menu-market:hover .dropdown-select,.sub-menu-active:hover .dropdown-select{
    display: block;
}